.banner {
    width: 100%;
    height: 84vh;
    object-fit: cover;
    display: block;
    filter: grayscale(0.3);
}
.home-banner-container {
    position: relative;
}
.banner-caption-container {
    position: absolute;
    top: 272px;
    left: 77px;
    color: white;
    font-family: 'Questrial';    
}
.banner-caption-container {
    position: absolute;
    top: 272px;
    left: 77px;
    color: white;
    font-family: 'Questrial';    
}
.font-elegant {
    font-family: 'Playfair Display', serif;
    font-size: 52px;
}
.font-modern {
    font-family: 'Playfair Display', sans-serif;
     font-size: 70px;
     font-weight: 500;
}
.shop-now{
    border: white;
    width: auto;
    padding: 0 18px;
    height: 42px;
    border-radius: 23px;
    background: #ffe4cb;
    font-weight: 500;
}